@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
:root {
  --navbar-width: 300px;
  --color-light: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header {
  background-color:#060d29;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 115px;
  z-index: 1000;

}

.container {
  margin-top: 100px;
  display: flex;
  height: 90%;
  overflow: hidden;
  width: 100%;
  background-color: azure ;
}

main {
  overflow: hidden;
}

aside {
  width: var(--navbar-width);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.user-logo {
  height: 160px;
  width: 160px;
}
.user-logo img {
  height: 100%;
  width: 100%;
  border: 1px double #1f1f1f;
  border-radius: 50%;
}
nav,
.select-items {
  width: 100%;
  text-align: center;
}

.item-link {
  list-style: none;
  padding: 15px 10px;
  position: relative;
  letter-spacing: 0px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  transform: translateY(0px);
}


.item-link:hover {
  letter-spacing: 1px;
  transform: translateY(1px);
  color: var(--color-light);
  font-weight: 600;
}


.item-link::before {
  content: "";
  background: red;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  z-index: -1;
  transition: width 300ms ease-in-out;
}

.item-link:hover::before {
  width: 100%;
}
.card {
  z-index: -1;
  height: 100vh;
  padding: 30px;
  display: none;
  width: 100vw;
  color: var(--color-light);
  transform: translateX(-100%);
}
.card.active {
  display: block;
  animation: slide 500ms ease-in-out both;
}
.card .title {
  font-size: 2rem;
  border-bottom: 1px solid #ccc;
}
.card .content {
  font-size: 1.5rem;
}

.home {
  background: black;
}
.about {
  background: black;
}
.resume {
  background: black;
}
.contact {
  background: black;
}
.selectedLink {
  background: linear-gradient(100deg, violet, red);
  color: var(--color-light);
  font-weight: 600;
}
@keyframes slide {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}