@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("blob-scene-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;


}

.text-image {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

a {
    text-decoration: none;
}

.text-image .logo{
    font-size: 3.5rem;
    color: #fff;
    transition: 0.5s;

}

.logo span {
    font-size: 3.5rem;
    position: relative;
    display: inline-block;
    color: #fff;
    animation: onda 1.55s infinite;
    animation-delay: calc(.1s * var(--i));


}

.logo:hover {
    transition: 0.5s;
    text-shadow: 0px 0px 5px #dc143c, 0px 0px 10px #dc143c, 0px 0px 10px #dc143c,
    0px 0px 20px #dc143c;
}

@keyframes onda {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
}


.text-image .slideVertical {
    overflow: hidden;
    position: relative;
    height: 65px;
    width: 100%;
    font-size: 1.09em;
    text-align: center;

}

.text-image .slideVertical p{
   color: white;
   font-size: 1.3rem;
}

.text-image .slideVertical li {
    color: #eee;
    font-weight: 700;
    padding: 0 5px;
    height: 45px;
    margin-bottom: 45px;
    display: block;
}

.flip2 { animation: flip2 3s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 5s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 7s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip5 { animation: flip5 9s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
0% { margin-top: -180px; }
5% { margin-top: -90px;  }
50% { margin-top: -90px; }
55% { margin-top: 0px; }
99.99% { margin-top: 0px; }
100% { margin-top: -180px; }
}

@keyframes flip3 {
0% { margin-top: -270px; }
5% { margin-top: -180px; }
33% { margin-top: -180px; }
38% { margin-top: -90px; }
66% { margin-top: -90px; }
71% { margin-top: 0px; }
99.99% { margin-top: 0px; }
100% { margin-top: -270px; }
}

@keyframes flip4 {
0% { margin-top: -360px; }
5% { margin-top: -270px; }
25% { margin-top: -270px; }
30% { margin-top: -180px; }
50% { margin-top: -180px; }
55% { margin-top: -90px; }
75% { margin-top: -90px; }
80% { margin-top: 0px; }
99.99% { margin-top: 0px; }
100% { margin-top: -360px; }
}

@keyframes flip5 {
0% { margin-top: -450px; }
5% { margin-top: -360px; }
20% { margin-top: -360px; }
25% { margin-top: -270px; }
40% { margin-top: -270px; }
45% { margin-top: -180px; }
60% { margin-top: -180px; }
65% { margin-top: -90px; }
80% { margin-top: -90px; }
85% { margin-top: 0px; }
99.99% { margin-top: 0px; }
100% { margin-top: -450px; }
}

.svg-image{
    width: 35vw;

}

.login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 80%;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #fafafa;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #dc143c;
}

.card-login h2 {
    background-image: linear-gradient(to bottom, #dc143c, #060d29);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 23px;
}

.inputBox{
    width: 333px;
    background-color: #f0f0f0;
    height: 40px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.5rem;
    position: relative;
    border: 1px solid #333;
}

.inputBox .fas{
    text-align: center;
    line-height: 35px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.3rem;
  }

.inputBox input {
    width: 100%;
    background: none;
    outline: none;
    border: none;
    color: #333;
    font-size: 1rem;
}

.inputBox span {
    position: absolute;
    left: 50px;
    padding: 3px;
    pointer-events: none;
    font-size: 1.2em;
    color: #333;
    transition: 0.3s;
}

.inputBox .error {
    color: crimson;
    padding: 5px;
    font-size: 0.7rem;
    width: 300px;
}

.inputBox.error {
    border-color: crimson;
}

.inputBox.success {
    border-color: rgb(33, 255, 25);
}

.inputBox span {
    color: #060d29;
    background: #fafafa;
    transform: translateX(10px) translateY(-10px);
    font-size: 0.7em;
    padding: 0 9px;
    letter-spacing: 0.2em;
}

.inputSub {
    width: 333px;
    height: 33px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: #060d29;
    color: white;
    outline: none;
    border-radius: 10px;
    font-size: 1.3em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: 0.5s;
}

.inputSub:hover{
    transition: 0.5s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;   
}

.link{
    margin-top: 20px;
}

.link a{
    color: black
}

.social-text {
    padding: 0.7rem 0;
    font-size: 1.3rem;
}

.social-media {
    display: flex;
    justify-content: center;
}
  
.social-icon {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
    font-size: 1.3rem;
    transition: 0.3s;
}
  
.social-icon:hover {
    color:#dc143c;
    border-color: #dc143c;
}


